@media only screen (min-width:500px){
  #contenedor{width:100%;
              background-color:rgba(0,255,0,0.5);}

}
@font-face {
	font-family: play;
	src: url(fuentes/play.ttf);
	}
body{
	background-image: url("multimedia/images/fondo.jpg");
	margin: 0;
	padding:0;
	background-attachment: fixed;
	font-family: play, sans-serif;
}
.contenedor{
	background: rgba(166,166,166, 0.9);
	position: relative;
	margin: 5%;
    padding: 0px 0px 100px 0px;
	text-align: center;
}
p, h3, figure img.imagenes{
	text-align:justify;
    margin: 10px 100px 10px;
}
section{
    position: relative;
    margin: 5px;
    padding: 0;
    width: 70%;
    text-align: center;
	font-size: 15px;
}
section article {
	margin: 0;
    padding: 5px;
	font-size: medium;
}
#video{
	
}
.cabecera{
	margin:0%;
	padding:0;
	width: 100%;
    height: 250px;
}
figure{
	margin:0;
	padding:0;
	width: 100%;
}
#banner{
	margin: 0%;
    padding: 0;
    width: 100%;
    height: 100%;
    float: right;
	height: 250px;
}
h1, h2{
	margin: 0px 0px 0px 80px;
    padding: 0;
    width: 70%;
    text-align: center;
}
h1{
	font-variant: small-caps;
    font-size: 30px;
}

.columna{
	
}
.pie{
	background: rgba(166,166,166, 0.8);
    color: black;
    font-weight: bold;
    font-size: large;
	margin: 0;
    padding: 0px;
    width: 100%;
}

aside figure{
	
	float:right;
	width:50%;
	height:30%;
}
figure img.imagenes{
	width: 75.5%;
	border-radius: 20px;
}
figure img.social{
	float: right;
    margin: 0px;
    width: 100px;
    height: 100px;
    padding: 0px;
}
#instagram, #facebook, #twitter, #google_plus{
	float:right;
    margin: 0px;
    width: 100px;
    height: 100px;
    padding: 0px;
}
#contacto{
	float:left;
}

ul { 
    margin: 2%;
    font-size: 120%;
    list-style-type: none;
    text-align: left;
    padding: 10px;
}
#formulario{
    width: 300px;
    margin: 0;
    position: absolute;
    top: 32%;
    right: 0
}
#tiempo{
    width: 250px;
    margin: 0;
    position: absolute;
    top: 66%;
    right: 0;
}

.nivel1 { 
  display: inline; 
  box-shadow:4px 4px 2px black;
}
.nilvel2{
	display: block;
}
ul a{ 
    background-color: #312f2f;
    border: #545454 1px solid;
    color: white;
    margin: 0;
    padding: 0 10px;
    text-decoration: none;
    font-variant: small-caps;
	border-radius: 7px;
}
ul a:hover{
background-color:white;
color:black;

}
.mapa{
	width:100%;
	height:100%;
}

div iframe{
	width:100%;
	height:100%;
}
ul li ul {
	display: none;
}
ul li:hover  ul.noticias{
	display: block;
	position: absolute;
	left: 7.4%;
	top:29%;
	font-size:15px;
}
ul li:hover  ul.guias{
	display: block;
	position: absolute;
	left: 15%;
	top:29%;
	font-size:15px;
}
ul li:hover  ul.trucos{
	display: block;
	position: absolute;
	left: 20.7%;
	top:29%;
	font-size:15px;
}
ul li:hover  ul.logros{
	display: block;
	position: absolute;
	left: 27.5%;
	top:29%;
	font-size:15px;
}
 article iframe{
	width:75%;
	height:400px;
}

